exportPattern("^[[:alpha:]]+")
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(corrplot)
import(GGally)
import(MASS)
import(FWDselect)
import(diagram)
import(factoextra)
import(ade4)
import(pvclust)
import(fpc)
import(StatMatch)
importFrom("grDevices", "dev.off", "pdf", "tiff")
importFrom(dplyr, mutate, left_join, select)
importFrom(plotly, ggplotly)
importFrom(reshape, melt)
importFrom(psych, smc)
importFrom(stability, ge_effects, er_anova, stab_measures, stab_reg)
importFrom("graphics", "par", "plot")
importFrom("stats", "as.formula", "cor", "cor.test", "lm", "pf",
             "symnum", "as.dist", "cophenetic", "cutree", "hclust",
             "prcomp", "sd", "aggregate", "anova", "aov", "cov2cor",
           "kmeans", "pt")
importFrom("utils", "combn", "winDialog")
S3method(summary, path.coeff)