exportPattern("^[[:alpha:]]+")
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(corrplot)
import(GGally)
import(plyr)
import(MASS)
import(FWDselect)
import(diagram)
import(factoextra)
import(ade4)
import(pvclust)
import(fpc)
import(StatMatch)
importFrom("grDevices", "dev.off", "pdf", "tiff")
importFrom("graphics", "par", "plot")
importFrom("stats", "as.formula", "cor", "cor.test", "lm", "pf",
             "symnum", "as.dist", "cophenetic", "cutree", "hclust",
             "prcomp", "sd")
importFrom("utils", "combn", "winDialog")
S3method(summary, path.coeff)