exportPattern("^[[:alpha:]]+")
exportPattern("^[[:alpha:]]+")
import(ggplot2)
import(corrplot)
import(GGally)
import(plyr)
import(MASS)
import(FWDselect)
import(diagram)
import(factoextra)
import(ade4)
importFrom("grDevices", "dev.off", "pdf", "tiff")
importFrom("graphics", "par")
importFrom("stats", "as.formula", "cor", "cor.test", "lm", "pf",
             "symnum")
importFrom("utils", "combn", "winDialog")
S3method(summary, path.coeff)